[submodule "thirdparty/wine"]
	path = thirdparty/wine
	url = git@github.com:winehua/wine.git
	branch = feature/arm64-heaven-port
[submodule "thirdparty/box64"]
	path = thirdparty/box64
	url = git@github.com:winehua/box64.git
	branch = ohos-wow64-smc-fs
[submodule "thirdparty/wayland"]
	path = thirdparty/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "thirdparty/libffi"]
	path = thirdparty/libffi
	url = https://github.com/libffi/libffi.git
[submodule "thirdparty/wayland-protocols"]
	path = thirdparty/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "thirdparty/libxkbcommon"]
	path = thirdparty/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "thirdparty/libxml2"]
	path = thirdparty/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "thirdparty/xkeyboard-config"]
	path = thirdparty/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "thirdparty/virglrenderer"]
	path = thirdparty/virglrenderer
	url = https://github.com/winehua/virglrenderer.git
	branch = master
[submodule "thirdparty/libepoxy"]
	path = thirdparty/libepoxy
	url = https://github.com/winehua/libepoxy.git
	branch = master
[submodule "thirdparty/mesa"]
	path = thirdparty/mesa
	url = git@github.com:winehua/mesa-ohos.git
	branch = main
[submodule "thirdparty/libdrm"]
	path = thirdparty/libdrm
	url = https://gitee.com/openharmony/third_party_libdrm.git
	branch = OpenHarmony-6.0-Beta1
[submodule "thirdparty/dxvk"]
	path = thirdparty/dxvk
	url = https://github.com/winehua/dxvk.git
	branch = feature/arm64-legacy
[submodule "thirdparty/dxvk-modern"]
	path = thirdparty/dxvk-modern
	url = https://github.com/winehua/dxvk.git
	branch = dxvk-modern-2.6
[submodule "thirdparty/vkd3d-proton"]
	path = thirdparty/vkd3d-proton
	url = https://github.com/HansKristian-Work/vkd3d-proton.git
[submodule "thirdparty/gmp"]
	path = thirdparty/gmp
	url = https://github.com/alisw/GMP.git
[submodule "thirdparty/nettle"]
	path = thirdparty/nettle
	url = https://git.lysator.liu.se/nettle/nettle.git
[submodule "thirdparty/libtasn1"]
	path = thirdparty/libtasn1
	url = https://gitlab.com/gnutls/libtasn1.git
[submodule "thirdparty/libunistring"]
	path = thirdparty/libunistring
	url = https://git.savannah.gnu.org/git/libunistring.git
[submodule "thirdparty/gnutls"]
	path = thirdparty/gnutls
	url = https://gitlab.com/gnutls/gnutls.git
[submodule "thirdparty/pcre2"]
	path = thirdparty/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "thirdparty/glib"]
	path = thirdparty/glib
	url = https://github.com/GNOME/glib.git
[submodule "thirdparty/gstreamer"]
	path = thirdparty/gstreamer
	url = https://gitlab.freedesktop.org/gstreamer/gstreamer.git
[submodule "thirdparty/fex"]
	path = thirdparty/fex
	url = https://github.com/FEX-Emu/FEX
[submodule "thirdparty/wine-valve"]
	path = thirdparty/wine-valve
	url = git@github.com:winehua/wine.git
	branch = ohos-port-steam-win64
